@model OSlight.App.ViewModels.AbrirOSViewModel

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Endereco.Logradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Endereco.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Endereco.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Endereco.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Endereco.Estado)
            </td>
            <td>
                <a class="btn btn-info" asp-action="AtualizarEndereco" asp-route-id="@Model.Id"><span class="fa fa-pen-alt"></span></a>
            </td>
        </tr>
    </tbody>
</table>
